{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-padding">
	<h1 tabindex="1"><b><i class="fa fa-upload" aria-hidden="true"></i> Carica Sentenza</b></h1>
	<p class="w3-red">non si può incorporare il modulo perché c'è una voce con caricamento file: inserire link o ancor meglio fare modulo custom (ma è lunga)</p><br aria-hidden="true"><p tabindex="1">Le sentenze si caricano attraverso questo modulo <a href="https://forms.gle/JVrvPeso4ft8zWtT8" target="_blank">Link esterno al modulo di inserimento </a></p>
</div>
{% endblock %}
